* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  line-height: 24px;
  color: $color-text;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 20px;
  font-family: $hel-font;
  color: $color-text;
}
h1 {
  font-size: 36px;
  font-family: $nov-font;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 500;
}
h2 {
  margin-bottom: 17px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
input,
button {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
input [type="email"],
input [type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
}
