.btn {
  color: #fff;
  background-color: transparent;
  padding: 6px 15px;
  border: 2px solid#fff;
  text-transform: uppercase;
  font-family: $nov-font;
  font-weight: 700;
  transition: all .6s;
  &:hover{
      color: $green;
      background-color: #fff;
  }
}
