.btn {
  color: #fff;
  background-color: transparent;
  padding: 4px 16px;
  border: 2px solid#fff;
  text-transform: uppercase;
  font-size: 15px;
  font-family: $nov-font;
  font-weight: 700;
  transition: color, background-color .6s;
  &:hover {
    color: $green;
    background-color: #fff;
  }
}
