@media (max-width: 1366px) {
  .slick-next {
    right: 3%;
  }
  .slick-prev {
    left: 3%;
  }
}
@media (max-width: 1143px) {
  .slick-btn {
    display: none;
  }
  .services-item {
    li {
      max-width: 50%;
      & + li {
        padding-left: 20px;
      }
    }
    p {
    }
  }
  .our-work__items {
    flex-direction: column;
    align-items: center;
  }
  .our-work__content {
    &:before {
      height: 990px;
    }
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .services__top h2 {
    font-size: 17px;
  }
  .services-item {
    li {
      max-width: 90%;
      margin-top: 45px;
      & + li {
        padding-left: 0px;
      }
    }
    h4 {
      font-size: 16px;
      margin-bottom: 5px;
    }
    img {
      margin-bottom: 15px;
    }
  }
  .services__top {
    padding-bottom: 25px;
  }
  .our-work__content h2 {
    font-size: 17px;
  }
  .our-work__title {
    font-size: 15px;
  }
  .our-work__items{
      padding-bottom: 30px;
      margin-bottom: 20px;
  }
  .our-work__content p{
      margin-bottom: 20px;
  }
  .our-work__content {
    &:before {
      height: 960px;
    }
  }
}
@media (max-width: 380px) {
    .our-work__item a img{
        padding-right: 13px;
    }

}