@media (max-width: $notebook) {
  .slick-next {
    right: 3%;
  }
  .slick-prev {
    left: 3%;
  }
}
@media (max-width: $table) {
  .visible-lg {
    display: none;
  }
  .m-menu {
    font-size: 15px;
    z-index: 5;
  }
  .m-menu-link {
    display: block;
  }
  .menu {
    li {
      & + li {
        padding-left: 25px;
      }
    }
  }
  .slick-btn {
    display: none !important;
  }
  .slider-item-1,
  .slider-item-2 {
    h1 {
      font-size: 30px;
    }
    // padding: 200px 15px 80px;
  }
  .services__item {
    li {
      max-width: 50%;
      & + li {
        padding-left: 20px;
      }
    }
  }
  .our-work__items {
    flex-direction: column;
    align-items: center;
  }
  .our-work__content {
    &:before {
      height: 75%;
    }
  }
  .our-work__title {
    margin-bottom: 10px;
  }
  .footer__social-info {
    flex-direction: column;
    align-items: center;
  }
  .footer__top {
    max-width: 80%;
    margin-bottom: 20px;
  }
  .footer__top-wrap {
    margin-bottom: 5px;
  }
  .footer__info {
    max-width: 85%;
    h3 {
      margin-bottom: 5px;
    }
  }
  .our-work__item {
    width: 100%;
  }
}
@media (max-width: $table-phone) {
  #header {
    top: 20px;
  }
  body {
    font-size: 14px;
  }
  .services__item {
    li {
      max-width: 90%;
      margin-top: 45px;
      & + li {
        padding-left: 0px;
      }
    }
    h4 {
      font-size: 16px;
      margin-bottom: 5px;
    }
    .services__item-img {
      margin-bottom: 15px;
    }
  }
  .services__info {
    padding-bottom: 25px;
    h2 {
      font-size: 17px;
    }
  }
  .our-work__title {
    font-size: 15px;
  }
  .our-work__items {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  .our-work__content {
    padding: 40px 0 43px;
    &:before {
      height: 80%;
    }
    p {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 17px;
    }
  }
  .footer__contacs-adress,
  .footer__contacs-email {
    margin-bottom: 5px;
  }
  .footer__info-contact {
    max-width: 50%;
    margin-bottom: 10px;
  }
  .footer__info {
    flex-wrap: wrap;
  }
  .footer__news {
    max-width: 100%;
  }
  .footer__area {
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }
  .m-menu {
    line-height: 40px;
  }
}
@media (max-width: $phone) {
  .slider-item-1,
  .slider-item-2 {
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 17px;
    }
  }
  #footer {
    padding-top: 30px;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer__info-contact {
    max-width: 100%;
    &:nth-child(2) {
      display: none;
    }
  }
  #footer .social {
    display: none;
  }
  .footer__top-wrap {
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .our-work__item a img {
    padding-right: 13px;
  }
  .our-work__content {
    &:before {
      height: 76%;
    }
  }
}
