@media (max-width: $default) {
  .slick-next {
    right: 3%;
  }
  .slick-prev {
    left: 3%;
  }
}
@media (max-width: $medium) {
  .slick-btn {
    display: none !important;
  }
  .slider-item {
    h1 {
      font-size: 30px;
    }
  }
  .services__item {
    li {
      width: 50%;
      & + li {
        padding-left: 20px;
      }
    }
  }
  .our-work__items {
    flex-direction: column;
    align-items: center;
  }
  .our-work__item {
    width: 100%;
    text-align: center;
  }
  .our-work {
    &:before {
      height: 95%;
    }
  }
  .our-work__title {
    margin-bottom: 10px;
  }
  .footer__heading {
    flex-direction: column;
    align-items: center;
  }
  .footer__holder {
    width: 85%;
    max-width: 954px;
    margin-bottom: 20px;
  }
  .footer__info {
    max-width: 85%;
    h3 {
      margin-bottom: 5px;
    }
  }
  //////Burger//////
  .dropdown-content .show {
    a {
      color: #000;
    }
  }
  .dropdown {
    display: none;
  }
  .dropbtn:after {
    top: 22%;
    right: -22%;
  }
  .navBurger {
    display: block;
  }
  .menu-wrap {
    position: fixed;
    background: #252a36;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: .4s ease-in-out;
    overflow: hidden;
    &.open {
      opacity: .99;
      visibility: visible;
      transform: scale(1);
      li {
        display: block;
        animation: fadeInRight .4s cubic-bezier(.42, .83, .7, 1.5) forwards;
        animation-delay: .4s;
        transform: rotate(-7deg);
        transform-origin: right bottom;
        &:nth-of-type(2) {
          animation-delay: .5s;
        }
        &:nth-of-type(3) {
          animation-delay: .6s;
        }
        &:nth-of-type(4) {
          animation-delay: .7s;
        }
        &:nth-of-type(5) {
          animation-delay: .8s;
        }
      }
    }
  }
  .navigation-menu {
    position: absolute;
    text-align: right;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: block;
      position: relative;
      height: 100%;
      li {
        display: block;
        position: relative;
        opacity: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 21px;
          padding: 10px 5px;
          margin: 5px 0;
          transition: .2s;
          &:hover,
          &:active,
          &:focus {
            transform: translateX(-2px);
            outline: 1px solid rgba(255, 255, 255, .3);
            background: rgba(255, 255, 255, .03);
          }
        }
      }
    }
  }
  .footer__info-contact {
    max-width: 40%;
  }
  .purchase {
    padding: 40px 0 30px;
}
}
@media (max-width: $small) {
  #header {
    top: 20px;
  }
  body {
    font-size: 14px;
  }
  .services__item {
    li {
      width: 100%;
      margin-top: 45px;
      & + li {
        padding-left: 0;
      }
    }
    h4 {
      font-size: 16px;
      margin-bottom: 5px;
    }
    .services__item-img {
      margin-bottom: 15px;
    }
  }
  .services__info {
    padding-bottom: 25px;
    h2 {
      font-size: 17px;
    }
  }
  .our-work__title {
    font-size: 15px;
  }
  .our-work__items {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  .our-work {
    padding: 40px 0 0;
    &:before {
      height: 97%;
    }
    p {
      margin-bottom: 20px;
    }
  }
  .footer__contacts-adress,
  .footer__contacts-email {
    margin-bottom: 5px;
  }
  .footer__info-contact {
    max-width: 60%;
  }
  .footer__info {
    flex-wrap: wrap;
  }
  .footer__news {
    max-width: 100%;
  }
  .footer__area {
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }
}
@media (max-width: $tiny) {
  .our-work__fancy-img {
    padding: 15px 17px 25px;
  }
  .our-work {
    &:before {
      height: 98%;
    }
  }
  .slider-item {
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 17px;
    }
  }
  #footer {
    padding-top: 30px;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer__info-contact {
    max-width: 100%;
    margin-bottom: 25px;
    &:nth-child(2) {
      display: none;
    }
  }
  #footer .social {
    display: none;
  }
  .footer__holder-wrap {
    justify-content: center;
  }
}
//fix burger menu on landscape mode
@media (max-height: 390px) {
  .navigation-menu ul li a {
    padding: 0 5px;
  }
  .navigation-menu {
    top: 45%;
  }
  .dropbtn:after {
    top: 0%;
  }
}