#footer {
  padding: 60px 0 10px;
  background-color: #333333;
}
.footer__heading {
  padding-bottom: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid #808080;
}
.footer__social-info {
  display: flex;
  justify-content: space-between;
}
.footer__top {
  max-width: 440px;
}
.footer__top-wrap {
  display: flex;
  line-height: 0;
  justify-content: space-between;
  margin-bottom: 22px;
}
.footer-social {
  display: flex;
}
.footer__info-contact {
  max-width: 170px;
  h3 {
    font-family: $nov-font;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }
  a {
    color: $color-text;
  }
}
.footer__info {
  display: flex;
  justify-content: space-between;
  max-width: 650px;
  width: 100%;
}
.footer__contacs-adress {
  margin-bottom: 13px;
}
.footer__contacs-email {
  margin-bottom: 15px;
  transition: all 0.7s;
  &:hover {
    color: #fff;
  }
}
.footer__contacs-tel a {
  color: #fff;
  font-size: 18px;
  transition: all 0.7s;
  &:hover {
    opacity: 0.7;
  }
}
.footer__links {
  padding-left: 17px;
  position: relative;
  a{
    transition: all 0.7s;
  }
  a:before {
    content: "\e906";
    font-family: "icomoon";
    font-size: 12px;
    position: absolute;
    left: 0;
  }
  a:hover {
    color: #fff;
  }
}
.footer__news {
  max-width: 225px;
  h3 {
    font-family: $nov-font;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 23px;
  }
  input {
    max-width: 160px;
    background-color: #4e4c4c;
    color: #fff;
  }
}
.footer__area {
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  text-transform: uppercase;
  font-size: 12px;
  font-family: $nov-font;
  line-height: 18px;
  a {
    color: #fff;
    transition: all 0.6s;
    &:hover {
      color: #828282;
    }
  }
}
.footer__page {
  ul {
    font-size: 0;
  }
  li {
    display: inline-block;
    & + li {
      padding-left: 19px;
    }
  }
  a {
    color: $color-text;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    transition: all 0.7s;
    &:hover {
      color: #fff;
    }
  }
}
