#header {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 40px;
}
.header-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 31px;
  margin-bottom: 25px;
  line-height: 0;
}
.header-top__logo {
  transition: opacity .7s;
  &:hover {
    opacity: .7;
  }
}
.menu-wrap {
  display: flex;
  justify-content: space-between;
  line-height: 0;
}
.overlayMenu {
  ul {
    font-size: 0;
    margin-left: -40px;
  }
  li {
    padding-left: 40px;
    display: inline-block;
  }
  a {
    font-size: 18px;
    font-family: $nov-font;
    color: #fff;
    transition: color .8s;
    position: relative;
    line-height: 24px;
    &:hover {
      color: $green;
    }
  }
}
.social {
  font-size: 0;
  margin-left: -10px;
  li {
    display: inline-block;
    padding-left: 10px;
  }
  a {
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    position: relative;
    height: 35px;
    font-size: 16px;
    opacity: .8;
    transition: opacity .7s;
    &:hover {
      opacity: .9;
    }
  }
  .social-twitter,
  .social-facebook,
  .social-rss {
    &:after {
      position: absolute;
      font-family: "icomoon";
      color: $color-text;
      font-size: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .social-twitter {
    &:after {
      content: "\e904";
    }
  }
  .social-facebook {
    &:after {
      content: "\f09a";
    }
  }
  .social-rss {
    &:after {
      content: "\f09e";
    }
  }
}
.search-form {
  .icon-search {
    color: $color-text;
    font-size: 22px;
    transition: .7s;
    &:hover {
      color: #fff;
    }
  }
}

// DROP menu
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 18px;
  user-select: none;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: .7s;
  font-family: $nov-font;
  text-transform: uppercase;
  position: relative;
  &:after {
    content: "\e906";
    font-family: "icomoon";
    position: absolute;
    font-size: 16px;
    top: 10%;
    right: -25%;
    transform: rotate(90deg);
  }
}
.dropbtn:hover,
.dropbtn:focus {
  color: $green;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #313131;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
  z-index: 1;
}
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgba(109, 106, 106, .267);
}
.show {
  display: block;
  text-align: center;
}

// Burger
.locked {
  overflow: hidden;
}
.navBurger {
  cursor: pointer;
  display: none;
  background: #fff;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background: #fff;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  &:before {
    top: -10px;
  }
  &:after {
    bottom: -10px;
  }
  &.active {
    background: transparent;
    background-clip: content-box;
  }
  &.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%;
  }
  &.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
  }
}
