#header {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 40px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 31px;
  margin-bottom: 25px;
  line-height: 0;
}
  .header-top__logo {
    transition: opacity 0.7s;
    &:hover {
      opacity: 0.7;
    }
  }
.menu-wrap {
  display: flex;
  justify-content: space-between;
}
ul.drop-menu ul{
  background-color: rgba(122, 119, 128,7);
}
.drop-list ul a{
  font-size: 14px;
  padding: 5px;
}
ul.drop-menu > li {
  list-style: none;
  position: relative;
  height: 24px;
}

ul.drop-menu ul{
  visibility: hidden;
  opacity: 0;
  display: block;
  left: 0;
  min-width: 200px;
  right: 0;
  position: absolute;
  pointer-events: none;
}
ul.drop-menu > li:hover ul{
  transition: .7s;
  display: block;
  visibility: visible;
  opacity: 1;
  z-index: 10;
  pointer-events: painted;  
  top: 24px;
}
.menu {
  ul {
    font-size: 0;
    margin-left: -40px;
      }
  .drop-list {
    padding-left:40px;
    display: inline-block;
  }
  a {
    font-size: 18px;
    font-family: $nov-font;
    color: #fff;
    transition: color 0.8s;
    position: relative;
    &:hover {
      color: $green;
    }
  }
}
.m-menu-link{
  display: none;
  font-size: 30px;
  color: $color-text;
}
.m-menu{
  position:fixed;
  right: 0;
  top:0;
  height:100vh;
  width:100%;
  display: flex;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 50px;
  background-color: #f9f9f9;;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  transform: translateX(100%);
  a{
    color: $color-text;
    font-size: 20px;
  }
}
.m-menu__active{
  transform: translate(0%)
}
.close-menu{
  position: fixed;
  right: 15px;
  top: 10px;
  font-size: 40px;
  font-weight: 900;
      &:hover{
          cursor: pointer;
      }
}
.social {
    font-size: 0;
    padding-top: 10px;
    margin-right: -10px;
    li {
      display: inline-block;
      padding-right: 10px;
    }
  a {
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    position: relative;
    height: 35px;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.7s;
    &:hover {
      opacity: 1;
    }
  }
  .social-twitter,.social-facebook,.social-rss {
    &:after {
    position: absolute;
    font-family: "icomoon";
    color: $color-text; 
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
  }
  .social-twitter {
    &:after {
      content: "\e904";
  }
}
  .social-facebook {
    &:after {
      content: "\f09a";
    }
  }
  .social-rss {
    &:after {
      content: "\f09e";
    }
  }
}
.search-form {
  .icon-search {
    color: $color-text;
    font-size: 22px;
    transition: 0.7s;
    &:hover {
      color: #fff;
    }
  }
}