.our-work__content {
  padding: 75px 0 43px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  &:before {
    content: "";
    background-color: #efefef;
    height: 49%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .btn {
    background-color: $green;
    border: 2px solid $green;
    &:hover {
      color: $green;
      background-color: #fff;
    }
  }
}
.our-work__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 55px;
  margin-bottom: 55px;
}
.our-work__item {
  width: 30%;
}
.our-work__img {
  transition: opacity .7s;
  &:hover {
    opacity: .4;
    &:after {
      content: "\f067";
      position: absolute;
      font-family: "icomoon";
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      z-index: 3;
      right: 0;
      color: #1f1e1e;
      font-size: 60px;
      opacity: 1;
    }
  }
}
.our-work__fancy-img img {
  z-index: 1;
}
.our-work__title {
  font-size: 18px;
  font-family: $nov-font;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  transition: opacity .7s;
  &:hover {
    opacity: .6;
  }
}
.our-work__fancy-img {
  display: block;
  background: url("../img/our-workpc.png") 50%;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  max-width: 100%;
  position: relative;
  padding: 15px 12px 25px;
  img {
    max-width: 100%;
  }
}
