.our-work {
  h2 {
    margin-bottom: 17px;
  }
  p {
    max-width: 840px;
    margin: 0 auto 44px;
  }
}
.our-work__content {
  padding: 75px 0 43px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  &:before {
    content: "";
    background-color: #efefef;
    height: 360px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .btn {
    background-color: $green;
    border: 2px solid $green;
    &:hover {
      color: $green;
      background-color: #fff;
    }
  }
}
.our-work__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 55px;
  margin-bottom: 55px;
}
.our-work__item {
  position: relative;
  img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
  .our-work__fancy--img {
    &:hover {
      opacity: 0.4;
      &:after {
        content: "\f067";
        position: absolute;
        font-family: "icomoon";
        top: 30%;
        left: 0;
        right: 0;
        z-index: 10;
        font-size: 60px;
        color: rgb(32, 32, 32);
        opacity: 0.9;
      }
    }
  }
  .our-work__fancy--img img {
    position: absolute;
    right: 0;
    left: 45px;
    top: 15px;
    z-index: 1;
    max-width: 75%;
  }
}
.our-work__title {
  font-size: 18px;
  font-family: $nov-font;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  display: block;
  &:hover{
    opacity: .6;
  }
}
