.our-work {
  h2 {
    margin-bottom: 17px;
  }
  p {
    max-width: 840px;
    margin: 0 auto 44px;
    
  }
}
.our-work__content {
  padding: 75px 0 43px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  &:before {
    content: "";
    background-color: #efefef;
    height: 49%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .btn {
    background-color: $green;
    border: 2px solid $green;
    &:hover {
      color: $green;
      background-color: #fff;
    }
  }
}
.our-work__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 55px;
  margin-bottom: 55px;
}
.our-work__item {
  width: 33.333%;
}
.our-work__fancy-img img {
  padding: 15px 12px 25px;
  z-index: 1;
  transition: opacity .7s;
  &:hover {
    opacity: 0.4;
    &:after {
      content: "\f067";
      position: absolute;
      font-family: "icomoon";
      top: 30%;
      left: 30px;
      right: 0;
      font-size: 60px;
      color: red;
      opacity: 0.9;
    }
  }
}
.our-work__title {
  font-size: 18px;
  font-family: $nov-font;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  display: block;
  transition: opacity .7s;
  &:hover {
    opacity: 0.6;
  }
}
.our-work__fancy-img {
  display: block;
  background: url("../img/our-workpc.png") 50%;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  max-width: 100%;
  position: relative;
  img{
    max-width: 100%;
  }
}


