.services {
  padding: 55px 0px 60px;
  text-align: center;
}
.services__info {
  padding-bottom: 55px;
  border-bottom: 1px solid #ccc;
  h2 {
    margin-bottom: 17px;
  }
  p {
    max-width: 845px;
    margin: 0 auto;
  }
}
.services__item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  li {
    max-width: 355px;
    font-family: $hel-font;
    position: relative;
    margin-top: 55px;
  }
  .services__item-img {
      margin-bottom: 22px;
    }
    h4 {
      font-family: $nov-font;
      margin-bottom: 19px;
      font-size: 18px;
      line-height: 22px;
      color: #666262;
      font-weight: 700;
    }
    p {
      margin-bottom: 18px;
    }
    a {
      color: $green;
      transition: all 0.7s;
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      &:hover {
        opacity: 0.6;
      }
    }
}
