.services {
  padding: 55px 0 60px;
  text-align: center;
  .title-holder {
    padding-bottom: 55px;
    border-bottom: 1px solid #ccc;
  }
}
.services__item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  li {
    max-width: 355px;
    font-family: $hel-font;
  }
  .services__item-img {
    margin-bottom: 22px;
  }
  h4 {
    font-family: $nov-font;
    margin-bottom: 19px;
    font-size: 18px;
    line-height: 22px;
    color: #666262;
    font-weight: 700;
  }
  p {
    margin-bottom: 20px;
  }
  a {
    color: $green;
    transition: opacity .7s;
    &:hover {
      opacity: .6;
    }
  }
}