.slider-item-1,
.slider-item-2 {
  background-image: url("../../img/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 310px 0px 150px;
  text-align: center;
  z-index: 10;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    right: 0;
  }
  h1 {
    font-family: $nov-font;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    line-height: 36px;
    max-width: 815px;
    margin: 0 auto 17px;
    z-index: 50;
    font-weight: 500;
    span {
      color: $green;
    }
  }
  p {
    font-family: $hel-font;
    font-size: 22px;
    color: #fff;
    max-width: 680px;
    margin: 0 auto 30px;
    margin-bottom: 30px;
  }
}
.slider-item-2 {
  background-image: url("../../img/slider-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.slick-btn {
  position: absolute;
  z-index: 3;
  width: 65px;
  height: 65px;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateY(-50%);
}
.slick-next {
  right: 12%;
  top: 50%;
  &:after {
    content: "\e906";
    font-family: "icomoon";
    font-size: 70px;
    right: 0%;
    top: 50%;
    color: #fff;
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
  }
}
.slick-prev {
  left: 13%;
  top: 50%;
  &:after {
    content: "\e905";
    font-family: "icomoon";
    font-size: 70px;
    left: 0%;
    top: 50%;
    color: #fff;
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
  }
}
.slick-dots {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
}
.slick-dots .slick-active button {
  width: 15px;
  height: 15px;
  transition: all 0.3s;
}
.slick-dots button {
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  outline: none;
  padding: 0;
  margin-left: 4px;
  background-color: #fff;
}
.slick-dots li {
  display: inline-block;
}
.slick-arrow.slick-disabled {
  &:after {
    opacity: 0.2;
  }
}
