//Fonts//
$nov-font: "Novecento WideNormal";
$hel-font: "HelveticaNeueCyr";

//Colors//
$color-text: #9b9999;
$green: #87b672;

//width screen//
$default: 1366px;
$medium: 1143px;
$small: 768px;
$tiny: 466px;
